* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
}

/* Container */
.container {
    background-color: #dadada;
    position: relative;
    width: 100%;
    height: 200vh;
}

.imgDiv {
    width: 100%;
    height: 25vh;
}

.img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease;
}

/* Hello div */
.hello {
    position: absolute;
    border-radius: 15px;
    z-index: 3;
}

/* Hi div */
.hi {
    position: relative;
}


/* Info */
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffff;
    border-radius: 15px;
    font-size: 12px;
    width: 100%;
    padding: 0px 20%;
    height: 8vh;
    font-weight: bold;
    color: #555;
    position: absolute;
    transform: translateY(-90px);
    z-index: -1;
    transition: all 0.2s ease;
}

/* Image 1 */
.img1 {
    height: 25vh;
    width: 25vw;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* Image 2 */
.img2 {
    height: 25vh;
    width: 18vw;
    top: 12%;
    left: 35%;
    transform: translate(-50%, 0%);
}

/* Image 3 */
.img3 {
    height: 25vh;
    width: 15vw;
    top: 18%;
    left: 70%;
    transform: translate(-50%, 0%);
}

/* Imae 4 */
.img4 {
    height: 45vh;
    width: 15vw;
    top: 27%;
    left: 43%;
    transform: translate(-50%, 0%);
}

/* Imae 5 */
.img5 {
    height: 35vh;
    width: 25vw;
    top: 35%;
    left: -45px;
}

/* Imae 6 */
.img6 {
    height: 25vh;
    width: 20vw;
    top: 34%;
    left: 77%;
    transform: translate(-50%, 0%);
}

/* Imae 7 */
.img7 {
    height: 24vh;
    width: 18vw;
    top: 60%;
    left: 37%;
    transform: translate(-50%, 0%);
}

/* Imae 8 */
.img8 {
    height: 35vh;
    width: 12vw;
    top: 70%;
    left: 45%;
    transform: translate(-50%, 0%);
}

/* Imae 9 */
.img9 {
    height: 35vh;
    width: 25vw;
    top: 60%;
    left: -150px;
}


/* Imae 10 */
.img10 {
    height: 25vh;
    width: 12vw;
    top: 80%;
    left: 55%;
    transform: translate(-50%, 0%);
    z-index: 1;
}