* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Main */
#main {
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card */
.cardParent{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.cardContainer{
    position: relative;
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.card{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    border-radius: 5px;

    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #000;
    transform-origin: top;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.card h4{
    font-size: 13px;
}

.card h3{
    font-size: 15px;
}

.card h5{
    font-size: 12px;
}

/* Animation Through CSS */
/* .cardContainer:hover .card{
    transform: perspective(1000px) rotateX(-50deg);
} */

.cardImg{
    width: 100%;
    height: 70px;
}

.cardImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}