* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100vh;
    width: 100%;
}

/* Main */
#main {
    background-color: #000;
    height: 100vh;
    width: 100%;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

#main h1{
    font-size: 50px;
}

/* Button Container */
.btnContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffff;
    background-color: #000;
    padding: 0 15%;
}

.btnContainer h1 {
    font-size: 18px;
    border: 1px solid #fff;
    padding: 13px 22px;
    border-radius: 38px;
    cursor: pointer;
    opacity: 0;
    filter: blur(10px);
}

.btnParent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 3;
}
