* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Main */
#main {
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Wave */
.wave {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.8);
    transform: rotateX(-45deg);
    position: absolute;
    animation: upDown 1s infinite ease-out;
    /* scale: 1.2; */
}

.wave1 {
    height: 50px;
    width: 50px;
}

.wave2 {
    height: 65px;
    width: 65px;
    animation: upDown 1s infinite 0.1s ease-out;
}

.wave3 {
    height: 80px;
    width: 80px;
    animation: upDown 1s infinite 0.2s ease-out;
}

.wave4 {
    height: 95px;
    width: 95px;
    animation: upDown 1s infinite 0.3s ease-out;
}

.wave5 {
    height: 110px;
    width: 110px;
    animation: upDown 1s infinite 0.4s ease-out;
}

.wave6 {
    height: 125px;
    width: 125px;
    animation: upDown 1s infinite 0.5s ease-out;
}

.wave7 {
    height: 140px;
    width: 140px;
    animation: upDown 1s infinite 0.6s ease-out;
}

.wave8 {
    height: 155px;
    width: 155px;
    animation: upDown 1s infinite 0.7s ease-out;
}

.wave9 {
    height: 170px;
    width: 170px;
    animation: upDown 1s infinite 0.8s ease-out;
}

.wave10 {
    height: 185px;
    width: 185px;
    animation: upDown 1s infinite 0.9s ease-out;
}

.wave11 {
    height: 200px;
    width: 200px;
    animation: upDown 1s infinite 1s ease-out;
}

.wave12 {
    height: 215px;
    width: 215px;
    animation: upDown 1s infinite 1.1s ease-out;
}

.wave13 {
    height: 230px;
    width: 230px;
    animation: upDown 1s infinite 1.2s ease-out;
}

.wave14 {
    height: 245px;
    width: 245px;
    animation: upDown 1s infinite 1.3s ease-out;
}

.wave15 {
    height: 260px;
    width: 260px;
    animation: upDown 1s infinite 1.4s ease-out;
}

.wave16 {
    height: 275px;
    width: 275px;
    animation: upDown 1s infinite 1.5s ease-out;
}

.wave17 {
    height: 290px;
    width: 290px;
    animation: upDown 1s infinite 1.6s ease-out;
}

.wave18 {
    height: 305px;
    width: 305px;
    animation: upDown 1s infinite 1.7s ease-out;
}

.wave19 {
    height: 320px;
    width: 320px;
    animation: upDown 1s infinite 1.8s ease-out;
}

.wave20 {
    height: 335px;
    width: 335px;
    animation: upDown 1s infinite 1.9s ease-out;
}

/* Animation */
@keyframes upDown {
    0% {
        transform: rotateX(-45deg) translateY(0%);
        border-color: rgba(255, 255, 255, 0.8);
    }

    50% {
        transform: rotateX(-45deg) translateY(-25px);
        border-color: rgba(0, 255, 255, 0.8);
    }

    100% {
        transform: rotateX(-45deg) translateY(0%);
        border-color: rgba(255, 255, 255, 0.8);
    }
}