@font-face{
    font-family: font1;
    src: url(assets/fonts/Product\ Sans\ Regular.ttf);
}

@font-face{
    font-family: font2;
    src: url(assets/fonts/Product\ Sans\ Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* ye over-x hidden body main hi lagana hai universal selector main nahin */
body{
    overflow-x: hidden;
}

/* Main */
#main {
    height: 100vh;
    width: 100%;
    background-color: rgb(225, 81, 0);
    color: #fff;
}

/* Navbar */
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 8%;
    font-family: font1;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
}

#navbar ul{
    display: flex;
    align-items: center;
    gap: 15px;
}

#navbar h2{
    font-size: 15px;
    cursor: pointer;
    font-weight: 100;
}

#navbar li{
    list-style: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: 100;
}

#navbar i{
    font-size: 22px;
    cursor: pointer;
}

/* Page1 */
.page1{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.page1 h1{
    font-size: 24vw;
    text-transform: uppercase;
    font-family: font2;
}

#fantaCan{
    width: 400px;
    position: absolute;
    z-index: 2;
}

#orange{
    width: 200px;
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 3;
}

#slice{
    width: 150px;
    position: absolute;
    bottom: 59%;
    right: 53%;
    z-index: 1;
}

#coconutLeaf{
    width: 220px;
    position: absolute;
    top: 10%;
    right: 0px;
}

#leaf{
    width: 120px;
    position: absolute;
    right: 8%;
    bottom: 2.5%;
    transform: rotate(-90deg);
}

#leaf2{
    position: absolute;
    left: 3%;
    top: 10%;
    width: 180px;
    transform: rotate(60deg);
}

/* Page2 */
.page2{
    height: 100vh;
    width: 100%;
    background-color: #4A1F1D;
    display: flex;
    padding: 0px 8%;
}

/* Left and Right */
.left{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#blob{
    position: absolute;
    bottom: 10px;
    left: -20px;
    transform: rotateX(-60deg);
    width: 300px;
}

.right{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: start; */
    font-family: font1;
    gap: 20px;
}

.right h1{
    font-size: 5vw;
    font-family: font2;
}

.right p{
    font-size: 13px;
}

/* Page 3 */
.page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 149, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: #000;
}

.box{
    width: 280px;
    height: 420px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;
}

.imgBox{
    height: 290px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#cola{
    width: 75%;
    z-index: 3;
}

#pepsi{
    width: 110%;
    z-index: 3;
}

#lemon{
    width: 250px;
    position: absolute;
    top: -80px;
    z-index: 2;
}

#buyBtn{
    background-color: rgb(255, 149, 0);
    color: #fff;
    border: none;
    outline: none;
    padding: 12px 18px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
