* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
}


/* Main */
#main {
    width: 100%;
    height: 100vh;
}

/* Parent1 and Paremt2 */
.parent1,
.parent2 {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.parent2{
    position: relative;
}

.page {
    width: 10%;
    z-index: 5;
    position: absolute;
    top: 0px;
    overflow: hidden;
    border-right: 1px solid #111;
}

/* Right and Left */
.right,
.left {
    display: block;
}

.right {
    width: 50%;
}

.left {
    width: 50%;
}

.right img,
.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Arrow */
.arrow{
    font-size: 20px;
    border-radius: 50%;
    padding: 12px;
    position: absolute;
    top: 50%;
    left : -2.1%;
    background-color: #111;
    color: #fff;
    z-index: 10;
}