* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Main */
#main {
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.circle h4{
    font-size: 14px;
}

.wave {
    height: 0px;
    width: 0px;
    border: 1px solid #dadada;
    border-radius: 50%;
    position: absolute;
}

.wave1 {
    animation: soundWave 3s infinite linear;
}

.wave2 {
    animation: soundWave 3s infinite 0.5s linear;
}

.wave3 {
    animation: soundWave 3s infinite 1s linear;
}

/* Animation */
@keyframes soundWave {
    0% {
        height: 0px;
        width: 0px;
    }

    50%{
        opacity: 1;
    }
    
    100%{
        height: 200px;
        width: 200px;
        scale: 2.5;
        opacity: 0;
    }
}