* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Main */
#main {
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: relative;
    overflow: hidden;
}

/* Videos */
.vd {
    height: 100%;
    width: 200%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

#vd1 {
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#vd2 {
    right: 0;
    z-index: 0;
}

/* Container */
.container {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 15vw;
    height: 50px;
    min-width: 180px;
    max-width: 400px;
}

/* Draggable */
.drag {
    position: absolute;
}

.dragChild {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 2px dotted #fff;
    animation: anim 10s infinite linear;
}

@keyframes anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Circle Target */
.circle {
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cirP {
    background-color: orange;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

/* ------------------- */
/* RESPONSIVE DESIGN */
/* ------------------- */

/* Tablets */
@media (max-width: 1024px) {
    .container {
        width: 25vw;
        height: 45px;
    }

    .dragChild,
    .circle {
        height: 45px;
        width: 45px;
    }

    .cirP {
        height: 9px;
        width: 9px;
    }
}

/* Mobile Landscape / Medium Phones */
@media (max-width: 768px) {
    .container {
        width: 35vw;
        height: 40px;
    }

    .dragChild,
    .circle {
        height: 40px;
        width: 40px;
    }

    .cirP {
        height: 8px;
        width: 8px;
    }
}

/* Small Mobile Phones */
@media (max-width: 480px) {
    .container {
        width: 55vw;
        height: 35px;
    }

    .dragChild,
    .circle {
        height: 35px;
        width: 35px;
    }

    .cirP {
        height: 7px;
        width: 7px;
    }
}
