* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* main */
#main {
    text-align: center;
    background-color: #111;
}

#main p {
    color: #ffff;
    font-size: 12px;
    padding: 15% 35%;
    text-align: left;
}

/* Image Contaiber */
.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 40%;
    height: 40%;
    object-fit: cover;
    transform-origin: top;
    margin-top: -2px;
}

#imgTwo {
    transform: perspective(1000px) rotateX(-90deg);
}

#imgThree {
    transform: perspective(1000px) rotateX(-90deg);
}

/* Text page */
.text {
    height: 100vh;
    width: 100%;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.text h1 {
    z-index: 4;
    text-align: left;
    font-size: 58px;
    font-weight: 300;
}

/* overlay */
.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    top: 0px;
    opacity: 0;
}